{% extends 'AppURC/base.html' %}
{% block titlePage %} 

Nuevo Destino 


{% endblock titlePage %}


{% load static %}



    {% block contenido2 %}
        
        <h1 class="mb-1">Formulario De requisitos Exportador</h1>

        

    {% endblock %}




    {% block contenido %}
        <!--
         {% if miFormulario.errors %}

                <p style='color: red;'>Error al cargar los datos, por favor volve a intentarlo</p>

        {% endif %}
        -->
        <form action='/AppURC/formularioExportaciones' method="POST"> {% csrf_token %}


            <h2><br>Te pedimos que completes los siguientes datos sobre tu estado exportador. <br></h2>


            <table>
            
                {{ miFormulario2.as_table }}

                

            </table>

            
            <input type="submit" value="Guardar">
            
            
        </form>

        <br>
        <br>
        <br>
        <button>
            <a href="home"> Cancelar - Volver al inicio</a>
        </button>
    {% endblock %}